{% style %}
    .product-card {
      .card {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        transition: all ease-in-out 0.5s;
      }
      
    .card-container{
      overflow: hidden;
    }
      
     .card-container:hover .card { 
        transform: scale(1.1);
     }
  
      .overlay {
        opacity: 0;
        transition: all ease-in-out 0.5s;
        z-index: -1;
      }
  
      .card-container:hover .overlay {
        opacity: 1;
        z-index: 1;
      }
    }
  {% endstyle %}
  
  
  <div class="product-card">
    {% assign price = product.selected_or_first_available_variant.price %}
    {% assign compare_at_price = product.selected_or_first_available_variant.compare_at_price %}
    {% assign discount_percentage = compare_at_price
   | minus: price
   | times: 100.0
   | divided_by: compare_at_price
    %}
  
    <form
      action="/cart/add"
      method="post"
      class="relative">
      <div>
        <div class="card-container relative h-[300px] w-auto">
          <div class="card-img-overlap relative">
            <div class="card absolute h-[300px] w-auto" style="background-image: url('{{ product | img_url: 'large' }}')"></div>
  
            <div>
              {% if settings.product_card_show_discount %}
                <p class="absolute top-5 left-5 bg-[#CB8161] px-2 text-white">-{{ discount_percentage | round: 0 }}%</p>
              {% endif %}
            </div>
          </div>
  
          <div class="overlay absolute h-[300px] w-full">
            <button
              type="submit"
              data-id="{{ product.variants.first.id }}"
              class="absolute z-10 add_to_cart cursor-pointer inline-block bottom-[4.5rem] right-5 text-white border border-solid border-white p-2">{% render "cart" %}</button>
          </div>
        </div>
  
        <div class="text-center mt-4">
          <a href="{{ product.url }}" class="text-lg hover:text-[#CB8161]">
            {{ product.title }}
          </a>
  
          <div class="flex justify-center items-center gap-4 [&>p]:text-[18px]">
            {% if product.compare_at_price != blank %}
              <p class="text-[#777] line-through">{{ product.compare_at_price | money_with_currency }}</p>
            {% endif %}
  
            <p class="text-[#CB8161]">{{ product.selected_or_first_available_variant.price | money_with_currency }}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  
  <script>
          document.querySelectorAll('.add_to_cart').forEach(item => {
              item.addEventListener('click', event => {
              const id = item.getAttribute('data-id');
                  fetch(`/cart/add.js?id=${id}&quantity=1`, {
                      method: 'POST',
                      headers: {
                      'Content-Type': 'application/json'
                      }
                  })
                  .then(response => response.json())
                  .then(data => {
                      console.log(data);
                      window.location.href = '/cart';
                  })
                  .catch((error) => {
                      console.error('Error:', error);
                  });
              });
          });
  </script>