{% comment %} npx tailwindcss -i ./src/tailwind.css -o ./assets/application.css --watch {% endcomment %}

<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}

    <link rel="dns-prefetch" href="https://cdn.shopify.com">
    <link rel="preload" href="{{ "EDANERegular.woff2" | file_url}}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ "ClashGroteskRegular.woff2" |  file_url }}" as="font" type="font/woff2" crossorigin="anonymous">


    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <style>
      [x-cloak] {
        display: none !important;
      }

      @font-face {
        font-family: 'EDANE';
        src: url({{ "EDANERegular.woff2" | file_url}}), url("https://cdn.shopify.com/s/files/1/0704/9773/0818/files/EDANERegular.woff2?v=1719330416") format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Clash Grotesk';
        src: url({{ "ClashGroteskRegular.woff2" | file_url }}), url("https://cdn.shopify.com/s/files/1/0704/9773/0818/files/ClashGroteskRegular.woff2?v=1719330422") format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }


      *,
      body {
        font-family: "Clash Grotesk"
        , sans-serif;
      }

      .logo{
        font-family: "EDANE"
        , sans-serif;
        font-weight: bold;
      }

      .cwidth{
        width: 97%;
        margin: 0 auto;

        @media only screen and (max-width: 600px){
          width: 90%;
        }
      }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">

    <script src="{{ 'Wishlist.js' | asset_url }}" defer="defer"></script>
  </head>
  <body>
    {% comment %} do not show nav when on product  template page {% endcomment %}
    {% section "announcement" %}
    {% section "header" %}

    <main role="main">
      {{ content_for_layout }}
    </main>

    {% section "footer" %}


    {% if template contains 'collection' or  template contains 'search'%}
      <script src="{{ 'collection-load-more.js' | asset_url }}" defer="defer"></script>
    {%endif%}

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>